[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Spring Boot & Spring IO Platform Example.
[access "refs/*"]
	owner = group user/fff (punkmonday)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/fff (punkmonday)
	label-Verified = -1..+1 group user/fff (punkmonday)
	push = group user/fff (punkmonday)
	read = group user/fff (punkmonday)
	rebase = group user/fff (punkmonday)
	removeReviewer = group user/fff (punkmonday)
	submit = group user/fff (punkmonday)
[access "refs/heads/*"]
	create = group user/fff (punkmonday)
	push = +force group user/fff (punkmonday)
	pushMerge = group user/fff (punkmonday)
	read = group user/fff (punkmonday)
[access "refs/tags/*"]
	push = group user/fff (punkmonday)
	push = +force group user/fff (punkmonday)
